.schedule {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr ; 
  grid-template-rows: 1fr;
  padding: 1em;
  gap: 1em;
}

.schedule-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-secondary);
  border-radius: .5em;
  padding: .5em;
}

.schedule-sidebar {
  grid-column: 1;
}

.schedule-list {
  grid-column: 2;
}
