.page {
  height: 100%;
  width: 100%;
  display: grid;
  padding: 1em;
  gap: 1em;
}

.column {
  background-color: var(--background-secondary);
  border-radius: 1em;
  padding: 1em;
  height: 100%;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column-element {
  margin-bottom: .5em;
  background-color: var(--background-tertiary);
  border-radius: .5em;
  padding: .5em;
  cursor: pointer;
}

.sidebar-element {
  width: 70%;
}

.list {
}

.list-element {
  width: 100%;
}

