* {
  --color-primary: rgb(251, 251, 208);
  --background-primary: rgb(20, 20, 25);
  --background-secondary: rgb(30, 30, 45);
  --background-tertiary: rgb(40, 40, 55);
  --background-interaction: rgb(45, 35, 30);

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--color-primary);
}

body, html, #root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--background-primary);
}

button {
  cursor: pointer;
  border: none;
  padding: .5em;
  border-radius: .5em;
  margin: .5em;
  background-color: var(--background-tertiary);
}

input {
  border: solid 1px var(--background-primary);
  padding: .5em;
  border-radius: .5em;
  background-color: var(--background-interaction);
  margin: .5em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
